<!DOCTYPE html>
<html>
<head>
  <title>PhotoManager</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div id="flash-messages" style="max-width:600px">
  <% flash.each do |type, messages| %>
    <% if messages.is_a?(String) %>
      <% messages = [messages] %>
    <% end %>
    <% messages.each do |message| %>
      <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
        <div class="alert <%= type %>">
          <span class="alertClose">X</span>
          <span class="alertText"><%= message %>
            <br class="clear"/></span>
        </div>
      </label>
    <% end %>
  <% end %>
</div>
<%= yield %>
</body>
</html>
